@import "colors";
//migracion de el archivo css de bootstrap para la funcion extend ----
@import "bootstrap";

@mixin FlexEnFilayCentrado {
    display: flex;
    flex-direction: row;
    align-items: center;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
}

/*GRID*/
#grilla {
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-rows: 20vh minmax(75vh,auto) 5vh;
    grid-template-columns: 50% 50%;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* ENCABEZADO */
header {
    margin: 2px;
    background-color: $color-black;
    @include FlexEnFilayCentrado;
    justify-content: space-between;
}

.logo {
    width: 7vw;
    height: auto;
    margin-left: 3%;
}
//----SASS-----------------------------
//MENU
.menu {
    background-color: $color-black;
    color: $color-white;
    text-align: center;
    margin-right: 5%;
    .active{
        background-color: darkred;
    }
    &__boton{
        //uso de extend -----------------------------------------------------
        @extend .btn;
        background-color: white;
        &:hover{
            background-color: red;
            border-color: black;
        }
    }
    ul{
        li {
            display: inline-block;
            &:hover {
                transform: scale(1.1);
            }
            a {
                color: $color-black;
                padding: 6px;
                font-size: 1rem;
                text-decoration: none;
            }
        }
    }
}

/* CONTENIDO PRINCIPAL */
.main {
    @include FlexEnFilayCentrado;
    width: 100%;
    height: 100%;
}

.dropdown {
    display: none;
}

/*quienes somos*/
article {
    width: 50%;
    padding: 2%;
    .imagen_principal {
        width: 100%;
        border-radius: 5%;
    }
}

//------SASS---------------------
.nosotros {
    width: 50%;
    padding: 2%;
    p {
        text-align: center;
        border: solid 2px $color-black;
        font-size: 1.5vw;
        height: 100%;
        margin: 2%;
        border-radius: 5%;
    }
}

/* GALERIA*/
.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
        max-width: 300px;
        height: fit-content;
        padding: 1%;
        border-radius: 8%;
    }
}

/*novedades*/
.noticia {
    display: flex;
    flex-direction: row;
    border: solid 2px $color-black;
    margin-top: 3px;
    align-items: center;
    p {
        font-size: 1.5vw;
        margin-left: 1%;
    }
    img {
        width: 10vw;
        height: 10vw;
        margin: 0.5%
    }
}

/*talleres amigos*/
.main_talleres {
    @include FlexEnFilayCentrado;
    width: 100%;
    //height: auto;
    justify-content: center;
}

.card {
    margin: 1%;
    text-align: center;
    width: 200px;
}

.card-title {
    font-size: 1vw;
}

.card-text {
    font-size: 1vw;
}

/*contacto*/
.main_contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}

form {
    width: 70%;
    font-size: 1rem;
}

/* PIE DE PAGINA */
//----SASS--------------------
.pie {
    background-color: $color-darkred;
    margin: 2px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    p {
        font-size: 1.3vw;
        margin-left: 1%;
        margin-top: 1%;
    }
    ul {
        margin-right: 10px;
        margin-top: 1%;
        li {
            display: inline-block;
            a{
                i {
                    font-size: 1.5vw;
                    color: $color-white;
                }
            }
        }
    }
}

@media screen and (max-width: 986px) {
    #grilla {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: 25vh auto 5vh;
        grid-template-columns: auto;
    }

    /* ENACEBZADO */
    header {
        grid-area: header;
        flex-direction: column;
        width: 100%;
    }

    .logo {
        width: 12vh;
        margin: 0%;
    }

    .menu {
        display: none;
    }

    .dropdown {
        display: block;
        margin-bottom: 1%;
        padding: 1%;
        margin: 1%;
    }

    /* CONTENIDO PRINCIPAL */
    main {
        grid-area: main;
    }
    .main {
        flex-direction: column;
        width: 100%;
    }

    main .nosotros p {
        font-size: 2.5vw;
    }

    /* PIE DE PAGINA */
    footer {
        grid-area: footer;
    }
}